<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts List</title>
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript --> 
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="MyApp" ng-controller="mainCtrl">
  <div class="container" ng-init='newName; newColor; newPrice; '>
    <h1>Contacts List</h1>
    <form class="form-inline">
      <div class="form-group">
        <label for="nameLabel">Name</label>
        <input ng-model='newPotion.name' type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="colorLabel">Color</label>
        <input ng-model='newPotion.color' type="text" class="form-control"  placeholder="Color">
      </div>
      <div class="form-group">
        <label for="costLabel">Cost</label>
        <input ng-model='newPotion.cost' type="text" class="form-control" placeholder="Cost"></input>
        <!-- <button ng-click='deletePotion()'> Delete</button> -->
      </div>
      <button ng-click='addPotion()'type="button" class="btn btn-default">Add Potion</button>
      <!-- <button ng-click="$storage.counter = $storage.counter + 1">{{$storage.counter}}</button> -->
    </form>


    <div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">

          <form class="form-inline">
            <div class="form-group">
              <label for="nameLabel">Name</label>
              <input ng-model='editContact.name' type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="colorLabel">Color</label>
              <input ng-model='editContact.color' type="text" class="form-control"  placeholder="Color">
            </div>
          <div class="form-group">
            <label for="costLabel">Cost</label>
            <input ng-model='editContact.cost' type="text" class="form-control" placeholder="Cost"></input>
            <!-- <button ng-click='deletePotion()'> Delete</button> -->
          </div>
          <!-- <button ng-click='addPotion()'type="button" class="btn btn-default">Add Potion</button> -->
          <!-- <button ng-click="$storage.counter = $storage.counter + 1">{{$storage.counter}}</button> -->
        </form>

          <!-- <p>One fine body&hellip;</p> -->
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-click='saveEdits()' type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--

<pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
  <table class="friend">
    <tr>
      <th>
          <button ng-click="order('name')">Name</button>
          <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
          <button ng-click="order('phoneNumber')">Phone Number</button>
          <span class="sortorder" ng-show="predicate === 'phone'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
          <button ng-click="order('email')">Email</button>
          <span class="sortorder" ng-show="predicate === 'age'" ng-class="{reverse:reverse}"></span>
      </th>
    </tr>
    <tr ng-repeat="potion in potions">
      <td>{{potion.name}}</td>
      <td>{{potion.color}}</td>
      <td>{{potion.cost}}</td>
    </tr>
  </table>
  -->


<!--
    <div class="form-group">
      <label for="filter">Search</label>
      <input type="text" ng-mode='filterText' class='form-control'></input>
    </div>

    -->

     <div class="form-group">
        <label for="filter">Search</label>
        <input ng-model="filterText" class="form-control", type="text", id="filter">
      </div>
  
    <!--
    0 is falsey, which means ng-if will not show the table
    ng-if. not in the DOM so ng-repeat won't execute - not there
    but ng-show will still try to execute ng-repeat which will produce err
    -->

    <table class='table' ng-if='potions.length' ng-class={lightsteelblue:true}>
      <thead>
        <tr>
          <th>#</th>
          <th ng-repeat='(key, value) in potions[0]' ng-click='sortContacts(key)'>{{key}}</th>
        </tr>
      </thead>
      <tbody>
           <!-- filter:filterText track by $index   filter:filterText  | orderBy: orderField track by $index -->
          <tr ng-repeat='(key, potion) in potions|orderBy: orderField:reverse| filter: filterText track by $index' ng-class={lightsteelblue:$even}>
            <td>{{$index + 1}}</td> 
            <td ng-repeat='value in potion'>{{value}}</td>
            <td>
              <button ng-click='deletePotion(potion)'>
                <span class='glyphicon glyphicon-trash'></span>
              </button>
              <button ng-click='editPotion(potion)'>
                <span class='glyphicon glyphicon-edit'> Edit</span>
              </button>
            </td>
          </tr>
      </tbody>
    </table>


  </div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
  <script src="main.js"></script>
</body>