<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts List</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript --> 
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="MyApp" ng-controller="mainCtrl">
  <div class="container" ng-init='newName; newColor; newPrice; '>
    <h1>Contacts List</h1>
    <form class="form-inline">
      <div class="form-group">
        <label for="nameLabel">Name</label>
        <input ng-model='newContact.name' type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="phoneNumberLabel">Phone Number</label>
        <input ng-model='newContact.phoneNumber' type="text" class="form-control"  placeholder="Phone Number">
      </div>
      <div class="form-group">
        <label for="emailLabel">Email</label>
        <input ng-model='newContact.email' type="text" class="form-control" placeholder="Email"></input>
      </div>
      <button ng-click='addContact()'type="button" class="btn btn-default">Add Contact</button>
    </form>

    <div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">

          <form class="form-inline">
            <div class="form-group">
              <label for="nameLabel">Name</label>
              <input ng-model='editContact.name' type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="phoneNumberLabel">Phone Number</label>
              <input ng-model='editContact.phoneNumber' type="text" class="form-control"  placeholder="Phone Number">
            </div>
          <div class="form-group">
            <label for="emailLabel">Email</label>
            <input ng-model='editContact.email' type="text" class="form-control" placeholder="Email"></input>
          </div>
        </form>

      </div>
        <div class="modal-footer">
          <button ng-click='closeModal()' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-click='saveEdits()' type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  <div class="form-group">
    <label for="filter">Search</label>
      <input ng-model="filterText" class="form-control", type="text", id="filter">
  </div>
    <table class='table' ng-if='contacts.length' ng-class={lightsteelblue:true}>
      <thead>
        <tr>
          <th>#</th>
          <th ng-repeat='(key, value) in contacts[0]' ng-click='sortContacts(key)'>{{key}}</th>
        </tr>
      </thead>
      <tbody>
           <!-- filter:filterText track by $index   filter:filterText  | orderBy: orderField track by $index -->
          <tr ng-repeat='(key, contact) in contacts|orderBy: orderField:reverse| filter: filterText track by $index' ng-class={lightsteelblue:$even}>
            <td>{{$index + 1}}</td> 
            <td ng-repeat='value in contact'>{{value}}</td>
            <td>
              <button ng-click='deleteContact(contact)'>
                <span class='glyphicon glyphicon-trash'></span>
              </button>
              <button ng-click='edit(contact)'>
                <span class='glyphicon glyphicon-edit'> Edit </span>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
  <script src="main.js"></script>
</body>